
/* This is needed for the textbox decorator */
* {
	margin: 0;
	padding: 0px;
}



body{
    background-color: #111111;
    color: #dddddd;
}

#lmc{
    background-color: #111111;
    float: left;
    
}

input{
    
    background-color: #333333;
    color: #dddddd;
    border-color: #444444;
}



textarea {
    resize: none;
    overflow: auto;
    font-family:Courier, monospace;
    background-color: #222222;
    color:#dddddd;
    width: 260px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    border: solid 1px white;
  
    
}


            .ldt .red { color: red; }
			.ldt .orange { color: orange; }
			.ldt .yellow { color: yellow; }
			.ldt .green { color: green; }
			.ldt .blue { color: blue; }
            .ldt .violet { color: violet; }
            .ldt .other {color: white;}

			/* editor styles */
			.ldt {
				position: absolute;
				background: #333333;
				width: 262px;
                
				height: 300px;
				 margin: 0;
				border: 1px solid white;
            }
            
			/* styles applied to comment tokens */
			.ldt .comment {
				color: silver;
			}